@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-background-primary: #010101;
  --color-text-primary: #e0e0e0;
  --color-border-primary: #414040;
  --font-logo: "Archivo Black", sans-serif;
  --font-navbar: 'Outfit', sans-serif;
  --font-heading: 'Manrope', sans-serif;
  --font-primary: 'Roboto', sans-serif;
}


.light {
  --color-background-primary: #e0e0e0;
  --color-text-primary: #010101;
  --color-border-primary: #797979;
}



.sidebar-scroll {
  overflow-y: scroll;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
}



.syntax-scroll {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.syntax-scroll::-webkit-scrollbar {
  height: 6px;
}

.syntax-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.syntax-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.syntax-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #374151;
}










